@font-face {
  font-family: 'Neue';
  src: url('fonts/NeueMontreal-Bold.otf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueReg';
  src: url('fonts/NeueMontreal-Regular.otf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

.gradient-background {
  background: linear-gradient(300deg, #7cfc92, #099942, #099942);
  background-size: 200% 200%; /* Aumente o tamanho do gradiente para um efeito mais suave */
  animation: gradient-animation 10s linear infinite; /* Use "linear" para uma animação mais suave */
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.title, #int {
  font-family: Neue, sans-serif;
}

p, .lead {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
}

#pricing {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}